.spinner {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-top-color: white;
  opacity: 0;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  width: 16px;
  height: 16px;
  transition: opacity 250ms;
  animation: rotate-spinner 1s linear;
  animation-iteration-count: infinite;
}

button.loading .spinner {
  opacity: 1;
  transition-delay: 250ms;
}

@keyframes rotate-spinner {
  100% {
    transform: rotate(360deg);
  }
}
